* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Lato', Courier;
}

:root {
	--main-color: #93ad4a;
	--link-color: #3d5326;
}

@font-face {
	font-family: 'Basier';
	src: url('assets/Basier-Circle-regular-webfont/basiercircle-regular-webfont.ttf');
}

@font-face {
	font-family: 'Public';
	src: url('assets/publicsans-webfonts/PublicSans-Medium.ttf');
}

body {
	margin: 2rem 1rem;
}

.header--container {
	display: flex;
	flex-flow: row wrap;
}

.header {
	width: 100vw;
	min-width: 58vw;
}

.header__gif {
	width: 100%;
}

.about {
	padding-top: 1rem;
	line-height: 1.5;
}

.about > p {
	font-size: 1.2rem;
}

.about__heading {
	font-family: 'Basier', 'Courier New', Courier, monospace;
	font-size: 3rem;
}

.about__subtitle {
	color: var(--main-color);
	font-weight: 600;
	font-size: 1.3rem;
}

.about__text--link {
	color: var(--link-color);
	font-weight: bold;
}

.text--link {
	text-decoration: none;
	color: var(--link-color);
	font-weight: bold;
}

.text--link:visited {
	color: var(--link-color);
}

.text--link:hover {
	text-decoration: underline;
}

.projects {
	margin-top: 3rem;
	padding: 3rem 0;
	border-top: 3px solid var(--link-color);
}

.projects__heading {
	font-size: 2rem;
}

.projects__list {
	display: flex;
	flex-flow: row wrap;
	padding-top: 1rem;
}

.projects__card {
	width: 100%;
	margin: 1rem;
	padding: 1rem;
	border: 1px solid var(--main-color);
	font-size: 1.2rem;
}

.projects__card > h3 {
	line-height: 2.5rem;
	color: var(--main-color);
}

.projects__card:hover {
	box-shadow: 12px 12px 2px 1px rgba(61, 83, 38, 0.3);
}

.projects__link {
	padding-top: 1rem;
	text-align: end;
}

.footer {
	padding-top: 2rem;
	text-align: center;
	border-top: 3px solid var(--link-color);
	font-size: 2rem;
}

.footer__heading {
	font-size: 2rem;
}

.footer__links > li {
	display: inline-block;
	list-style: none;
	padding: 1rem 1rem;
}

.footer__links > li > a {
	color: var(--main-color);
	text-decoration: none;
}

.footer__links > li > a:visited {
	color: var(--main-color);
}

.footer__links > li > a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 900px) {
	.projects__card {
		max-width: 25vw;
	}
}

@media screen and (min-width: 1040px) {
	.header--container {
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.header {
		width: unset;
		padding: 1em 3em;
	}

	.about {
		margin: 0 1em;
	}

	.projects {
		padding: 3em;
	}
}
